@charset "utf-8";
/* 서브페이지 공통 css - sub.css */
/* 
    [import로 파일 합치기]
    외부 css파일에서 다른 외부 css 파일을 import방식으로 불러올 때 장점은?
    html파일에서 link요소로 호출할 경우 http request(웹요청)이 많아져서 페이지 랜더링 속도에 영향을 미친다!
    따라서 import방식을 쓰면 더 적은 웹요청에 따라 처리속도에 도움이 된다

    - 주의 : import는 css파일 상단에서 처리한다!
 */
/* @import url(파일주소); */
@import url(./common.css); 

/* 본 css 설정 코드는 하단에 한다 */

/* 메인영역박스 */
.cont{
    /* 패딩 15px (기존20px 재정의) */
    padding: 15px;
}

/* 2-1. 언론사로고 */
.prlogo img{
    height: 32px;
    /* 이미지는 가로,세로 중 한쪽만 주면 자동 비율유지를 함 */
}
/* 2-2. 기사제목 */
.atit{
    /* 글자크기 fz30 */
    font-size: 30px;
    /* 글자두께 보통 fwn */
    font-weight: normal;
    /* 글자간격(자간) letter-spacing 기본값 0(normal), 양수는 멀어짐, 음수는 가까워짐 */
    letter-spacing: -1px;
    /* 단어간격 word-spacing */
    word-spacing: normal;
    /* 줄바꿈 방지 : 공백 -> 백공 -> white-space 
    기본값 -> wrap 박스끝에서 줄바꿈 안되고 계속감 normal(기본값) 박그 끝에서 줄바꿈 
    [언제쓰나]
    -> 줄바꿈이 되면 안될때
    (예: 한줄에 오는 버튼글자, 한줄에 말줄임표)*/
    /* white-space: normal; */
}
/* 2-3. 기사사진(+사진설명) */
.afig{
    /* 마진 m : 2개값 -> 위아래 양쪽*/
    margin: 15px 0;
    /* 인라인 가로중앙 : tac text-align */
    text-align: center;
}
/* 기사이미지 */
.afig img{
    width: 100%;
}
/* 기사이미지 설명글 */
.afig small{
    font-family: 'gugi';
    /* 글자크기 : fz 
    - 글자크기 최저한게는 10px임*/
    font-size: 12px;
    /* 글자색 :  */
    color: #333;
}
/* 2-4. 기사내용 */
.arti p{
    font-size: 17px;
    /* 줄간격 : lh 
    -> 주의 : 단위가 없으면 배수임 기준은 글자크기임*/
    line-height: 1.7;
    /* 양쪽패딩 : 위아래 양쪽*/
    padding: 0 10px;
    /* 글자 들여쓰기 ti
    값 : 양수는 들여쓰기, 음수는 내어쓰기
    text-indent: 20px; */
    letter-spacing: 1px;
    /* 양쪽정렬 */
    text-align: justify;
}
/* mark요소 변경 */
.arti p mark{
    /* 인라인을 블록으로 출신변경! */
    display: block;
    /* 글자크기 변경 */
    font-size: 20px;
    /* 줄간격 주기 */
    line-height: 2;
    /* 위아래, 양쪽패딩 */
    padding: 20px 50px;
    /* 배경색 bgc */
    background-color: #ebebeb
    /* 보더 위,아래
    위(top), 아래(bottom), 왼쪽(left), 오른쪽(right)*/;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    /* 중앙정렬 */
    text-align: center;
    /* 위아래 마진 */
    margin: 15px 0;

}
/* p요소 아래 em요소 디자인 변경 */
.arti p em{
    /* 글자 그림자 ts : text-shadow
    값: x축 y축 블러 색
    블러는 그림자 경계흐림정도 */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.712);
    /* 이탤릭해제 : fsn */
    font-style: normal;
    /* 글자색 */
    color: darkblue;
    /* 글자두껍게 : fwb */
    font-weight: bold;
}
/* 2-5. 기자정보 */
.rpt {
    /* display 출신변경하기
    디자인 적용과 동시에 인라인특성인 글자만큼만 크기가 잡히도록 인라인블록으로 변경함 */
    display: inline-block;
    font-size: 14px;
    /* 배경색 */
    background-color: #eee;
    /* 마진 */
    margin: 15px 0;
}
/* 2-6. 기사원문 */
/* 
별도의 이름없이 구조로만 기사원문을 선택한다! 직계자식!
 */
.cont>h5{
    /* 내부의 인라인요소 오른쪽 정렬 */
    text-align: right;
}
.cont>h5>a{
    /* 디자인 적용을 위해 display 변경! */
    display: inline-block;
    /* 기본없애기 */
    margin: 20px 0;
    padding: 0;
    width: 70px;
    height: 70px;
    /* 테두리 bd */
    border: 2px solid #dbdbdb;
    /* 글자중앙 */
    text-align: center;
    /* 세로중앙 : 줄간격으로! */
    line-height: 70px;
    /* 모서리 둥글게하기 border-radius
    brad -> 원 */
    border-radius: 50%;
    /* 배경생 bgc */
    background-color: lightsteelblue;
}

/* 가상클래스로 오버시 박스그림자 넣기 */
.cont>h5>a:hover{
    /* 박스그림자 
    box-shadow: x y blur spread 색
    inset은 내부그림자 
    - spread 박스그림자 크기(필요 시 씀)*/
    box-shadow: 0 0 5px darkblue;
}

/* 메인 공통 article 박스 디자인 */
.cont article {
    margin-top: 40px;
    padding: 15px;
    /* 구분선 보더 위 */
    border-top: 2px dashed #ccc;    
}

/* 각 파트별 공통 타이틀 */
/* 기사관련 타이틀 h3 */
.cont h3 {
    /* 글자체 : 웹폰트 */
    font-family: 'Gugi', cursive;
    /* 글자두께 : 얇게 fwn */
    font-weight: normal;
    /* 글자크기 : fz */
    font-size : 26px;
    /* 글자 들여쓰기 : ti */
    text-indent: 20px;
    /* 글자색 */
    color: #333;
}

/* 기사고나련 타이틀 h5 */
/* .cont>h5와 구분하기 위해 중간경로 article씀 */
.cont article h5 {
    /* 글자두께 : 얇게 fwn */
    font-weight: normal;
    /* 글자크기 : fz */
    font-size : 20px;
    /* 내부 그림자 
    inset은 내부 그림자 설정 */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    /* 글자 들여쓰기 : ti */
    /* text-indent: 20px; */
    /* 헤딩요소 기본마진 없앰! */
    margin: 0;
    /* 글자색 */
    color: #333;
    /* 패딩 : 위아래 양쪽 */
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
    /* 배경색 */
    background-color: #ebebeb;
}

/* 주해박스 */
.desc div {
    padding: 20px 5px 0;
    line-height: 1.8;
    /* 자간 : ls */
    letter-spacing: 1px;
    /* 양쪽정렬 */
    text-align: justify;
}
/* 인용박스 */
.qb blockquote {
    /* 기본 마진 없앰 */
    margin: 0;
    padding: 20px 5px 0;
    line-height: 1.5;
    /* 자간 : ls */
    /* letter-spacing: 1px; */
    /* 양쪽정렬 */
    text-align: justify;
    /* 글자크기 : fz */
    font-size: 14px;
}

/* 오늘의 작품 & 느낌 */
.work {
    /* 글자중앙 : tac */
    text-align: center;
    /* 배경색 */
    /* background-color: lightpink; */
    /* 그라데이션 -> 이미지로 bgi */
    background-image: 
    linear-gradient(to top, red, yellow, blue);
    /* linear-gradient(방향, 색1 %, 색2 %, ...); 
    방향 : to top, to bottom, to left, to right
    (방향에 각도를 쓰면 그라데이션 각도가 표현됨
    -> 방향대신 각도 : 수치 deg(예:45deg)
    * 색상을 콤마로 나영하면 등분할 하여 그라데이션 표현되고 색상뒤에 %수치를 쓰면 특정비율을 나타낼 수 있다!
    */
    /* 배경옵션 추가!!
    background-clip : 배경이 적용되는 범위설정
    1. border-box -> 보더까지 적용(기본값)
    2. padding- box -> 패딩까지 적용
    3. content-box -> 내용영역만 적용(패딩, 보더빠짐) */
    background-clip: content-box;
}

/* 작품명 */
.work figcaption {
    font-family:'Single Day', cursive;
}
.work figcaption cite{
    /* 기본 이탤릭 해제 : fsn */
    font-style: normal;
}