@charset "utf-8";
body {
    margin: 0px;
    height: auto;
    outline: gray;
}

#myVideo {
    position: fixed;
    right: 0%;
    bottom: 0%;
    min-width: 100%;
    min-height: 100%;
  }

.cont{
    position: relative;
    bottom: 0;
    border: 3px dotted red;
    color: white;
}

.head_wrap{
    border: 3px dotted green;
    text-align: center;
    word-spacing: 80px;
    height: 114px;
    background: rgba(0, 0, 0, 0.493);
}

.menu {
    margin: 0;
    padding: 0;
    height: 114px;

}

.menu img{
    position: relative;
    top: 10px;
    max-width: 200px;
    min-width: 150px;
}

.head_wrap a{
    line-height: 104px;
    font-size: 25px;
    text-decoration-line: none;
}


.side_bar{
    position: fixed;
    right: 0;
    top: 60%;
    font-size: 20px;
    
    border: 2px dotted lightblue;
    width: 200px;
    line-height: 50px;
    margin-left: auto;
    /* margin-top: 300px; */
    background: rgba(0, 0, 0, 0.486);
}

.wrap{
    border: 3px dotted blue;
}

.chap_list{
    position: fixed;
    left: 0;
    bottom: 0%;
    font-size: 20px;
    border: 3px dotted violet;
}
.chap_list ul{
    text-align: center;
    border: 2px dotted orange;
}

.chap_list_wrap_title{
    
    width: 168px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.493);
    
}

a{
    color: white;
}

ul{
    list-style: none;
    text-align: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
}



/* .jb-box {
width: 100%;
height: 1000px;
overflow: hidden;
margin: 0px auto;
position: relative;
 
}
video {
width: 100%;
z-index: -1;
} */