@charset "utf-8";
/* 한국최신드라마 리스트 CSS - drama.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');
/* 
    font-family: 'Hahmlet', serif;
*/

/* 초기화 */
html,body{
    margin: 0;
    padding: 0;
}

/* 테이블 공통 */
.tbl{
    /* 글자체 */
    font-family: 'Hahmlet', serif;
    /* 글자색 */
    color: #222;
    /* 테이블 기본간극 없애기
    table태그에 border="1"을 넣고 확인해본다! */
    border-collapse: collapse;
    /* 기본값 separate */
}

#drama{
    font-size: 24px;
    margin: 0 auto;
    width: 1000px;
    /* 테이블은 width 지정이 없으면 내용만큼 늘어남! 좁으면 아래로 내용이 줄바꿈한다1 */
}

/* 테이블 제목 */
#drama caption{
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 50px 0 20px;
}
/* td와 th 패딩 */
#drama td, #drama th{
    padding: 8px 10px;
}
/* td에 밑줄 넣기 */
#drama tbody td{
    border-bottom: 1px solid #ccc;
}/* th에 윗줄, 아랫줄 두꺼운 보더 넣기 */
#drama th{
    border-top: 2px solid #555;
    border-bottom: 2px solid #555;
}
/* 마지막 tbody 마지막 tr 아랫줄 두꺼운보더 */
#drama tbody tr:last-child td{
    border-bottom: 2px solid #555;
}
/* tbody의 첫번째 td(번호항목) 중앙정렬 */
#drama tbody td:first-child{
    text-align: center;
    /* background-color: red; */
}
/* 하단부분(tfoot) */
#drama tfoot td{
    text-align: center;
    padding: 45px 0;
}

/* 본문 배경색 짝수만 넣기
짝수 - even 홀수 - odd */
#drama tbody tr:nth-child(even) td{
    background-color: rgb(197, 197, 197);
}
/* 링크 a 변경  */
#drama a{
    text-decoration: none;
    color: #222;
}
#drama tbody a:hover{
    text-decoration: underline;
    text-decoration-style: wavy;
    color: hotpink;
}
#drama tfoot a:hover{
    text-decoration: overline;
    text-decoration-style: dotted;
    color: darkgreen;
}

/* 구분테이블 박스 */
.gubun{
    width: 1000px;
    margin: 0 auto;
    /* outline: 1px dashed red; */
    margin-bottom: 100px;
    
    overflow: hidden;
    /* 자식 float 감싸기 */
}
/* 구분테이블 */
table#gubun{
    font-size: 20px;
    border: 1px solid #999;
    /* 오른쪽 끝으로 보내기 */
    float: right;

    /* td(테이블셀)에 사이간격주기 */
    border-collapse: separate;
    
    border-spacing: 10px;
    /* 셀사이 간격  */
    /* border-spacing: 양방향; */
    /* border-spacing: 가로 세로; */
}

/* 구분테이블 td */
#gubun td{
    padding: 10px;
    /* border: 1px solid #000; */
}
/* 구분테이블 첫번째 tr의 첫번째 td의 오른쪽 점선넣기 */
#gubun tr:first-child td:first-child{
    border-right: 1px dotted #999;
}
/* 구분테이블의 두번째 tr부터 끝까지 td 위쪽점선보더 넣기 */
#gubun tr+tr td{
    border-top: 1px dotted #999;
}